 body {
   padding-left: 0;
   padding-right: 0;
 }
 #page-wrapper {
   position: relative;
   width: 1200px;
   /* centers the document */
   margin: 0 auto;
   /*
  hides anything drawn off canvas.
  remove overflow and height to see things drawn off canvas.
  */
   overflow: hidden;
   height: 1000px;
 }
 /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
 /* Set floating dom-heading margins to 0 */
 [class*="dom-heading"] {
   margin: 0;
 }
 #absolute-wrapper {
   position: relative;
   width: 1200px;
   margin: 0 auto;
   height: 1px;
 }
 #absolute-wrapper .image {
   position: absolute;
 }
 #absolute-wrapper .image.image-1 {
   width: 141px;
   height: 83px;
   top: 20px;
   left: 113px;
 }
 #absolute-wrapper .dom-heading {
   color: #f5350a;
   font-family: Arial;
   width: 300px;
   height: 41px;
   font-size: 28.18181800842285px;
   position: absolute;
   top: 44px;
   left: 250px;
 }
 #absolute-wrapper .icon.icon-comments {
   color: #5bec09;
   font-size: 21px;
   height: 21px;
   width: 31px;
   position: absolute;
   top: 77px;
   left: 955px;
 }
 #absolute-wrapper .paragraph.paragraph-1 {
   height: 24px;
 }
 #absolute-wrapper .paragraph {
   position: absolute;
 }
 #absolute-wrapper .paragraph.paragraph-2 {
   top: 77px;
 }
 #absolute-wrapper .paragraph.paragraph-3 {
   width: 300px;
 }
 #absolute-wrapper .paragraph.paragraph-4 {
   width: 39px;
   left: 982px;
 }
 #absolute-wrapper .paragraph.paragraph-2.paragraph-3 {
   height: 22px;
   left: 252px;
 }
 #absolute-wrapper select {
   position: absolute;
 }
 #absolute-wrapper select.select-1 {
   width: 60px;
   height: 27px;
   top: 74px;
   left: 1016px;
 }
 #absolute-wrapper .paragraph.paragraph-1.paragraph-5 {
   width: 65px;
   top: 81px;
   left: 826px;
 }
 #absolute-wrapper .dom-link {
   width: 53px;
   height: 25px;
   position: absolute;
   top: 80px;
   left: 874px;
 }
 #absolute-wrapper .navbar.navbar-inverse {
   width: 962px;
   height: 42px;
   position: absolute;
   top: 105px;
   left: 116px;
 }
 #absolute-wrapper .navbar.navbar-inverse .navbar-inner {
   background: #f66403;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
   border: 1px solid #f66403;
   height: 42px;
   padding-left: 20px;
   padding-right: 20px;
 }
 #absolute-wrapper .navbar.navbar-inverse .nav li a.a-1 {
   text-shadow: 0px 1px 2px #2b2a2a;
 }
 #absolute-wrapper .navbar.navbar-inverse .nav li a {
   color: #f3dbcf;
 }
 #absolute-wrapper .navbar.navbar-inverse .nav li a.a-2 {
   text-shadow: 0px 1px 2px #2b2a2a, 0px -1px 0px rgba(43, 42, 42, 0.239216);
 }
 #absolute-wrapper .icon.icon-cog {
   color: #f3dbcf;
   text-shadow: 0px 1px 2px #000000;
   font-size: 27px;
   height: 28px;
   width: 27px;
   position: absolute;
   top: 114px;
   left: 1039px;
 }
 #absolute-wrapper .icon.icon-info-sign {
   font-size: 25px;
   color: #f3dbcf;
   text-shadow: 0px 1px 2px #000000;
   height: 25px;
   width: 28px;
   position: absolute;
   top: 115px;
   left: 1007px;
 }
 #absolute-wrapper .icon.icon-envelope-alt {
   font-size: 21px;
   color: #f3dbcf;
   text-shadow: 0px 1px 2px #000000;
   height: 21px;
   width: 38px;
   position: absolute;
   top: 117px;
   left: 966px;
 }
 #absolute-wrapper .icon.icon-user {
   color: #f3dbcf;
   font-size: 26px;
   text-shadow: 0px 1px 2px #000000;
   height: 26px;
   width: 32px;
   position: absolute;
   top: 115px;
   left: 937px;
 }
 #absolute-wrapper .icon.icon-home {
   color: #f3dbcf;
   font-size: 14px;
   height: 14px;
   width: 14px;
   position: absolute;
   top: 120px;
   left: 120px;
 }
 #absolute-wrapper select.select-2 {
   width: 132px;
   height: 34px;
   top: 158px;
   left: 912px;
 }
 #absolute-wrapper textarea {
   width: 220.18181824684143px;
   height: 23.18181824684143px;
   position: absolute;
   top: 158px;
   left: 670px;
 }
 #absolute-wrapper .icon.icon-search {
   font-size: 26px;
   color: #080807;
   height: 26px;
   width: 30px;
   position: absolute;
   top: 161px;
   left: 1047px;
 }
 #absolute-wrapper .paragraph.paragraph-3.paragraph-6 {
   height: 42px;
   top: 281px;
   left: 124px;
 }
 #absolute-wrapper .paragraph.paragraph-3.paragraph-6 p {
   color: #09b7ec;
 }
 #absolute-wrapper .paragraph.paragraph-7 {
   width: 447px;
   height: 60px;
   top: 222px;
   left: 123px;
 }
 #absolute-wrapper .paragraph.paragraph-7 p {
   color: #b6aeae;
 }
 #absolute-wrapper .image.image-2 {
   width: 148px;
   height: 408px;
   top: 265px;
   left: 934px;
 }
 #absolute-wrapper .image.image-3 {
   width: 363px;
   height: 454px;
   top: 308px;
   left: 105px;
   background: transparent url(../images/braintree-payment-gateway-screenshot-4.jpg) top left no-repeat;
   background-size: 100% 100%;
 }
 #absolute-wrapper .image.image-3 .checkbox {
   height: 20px;
   position: absolute;
   left: 62px;
 }
 #absolute-wrapper .image.image-3 .checkbox.checkbox-1 {
   width: 280px;
 }
 #absolute-wrapper .image.image-3 .checkbox.checkbox-2 {
   width: 214px;
   top: 351px;
 }
 #absolute-wrapper .image.image-3 .paragraph {
   width: 74px;
   height: 20px;
   top: 351px;
   left: 291px;
 }
 #absolute-wrapper .image.image-3 .paragraph p {
   color: #f40909;
 }
 #absolute-wrapper .image.image-3 .checkbox.checkbox-1.checkbox-3 {
   top: 371px;
 }
 #absolute-wrapper .image.image-3 .checkbox.checkbox-1.checkbox-4 {
   top: 390px;
 }
 #absolute-wrapper .image.image-3 .btn {
   width: 68px;
   height: 30px;
   position: absolute;
   top: 411px;
   left: 61px;
 }
 #absolute-wrapper .image.image-4 {
   width: 140px;
   height: 194px;
   top: 720px;
   left: 946px;
 }