 body {
   padding-left: 0;
   padding-right: 0;
 }
 #page-wrapper {
   position: relative;
   width: 1200px;
   /* centers the document */
   margin: 0 auto;
   /*
  hides anything drawn off canvas.
  remove overflow and height to see things drawn off canvas.
  */
   overflow: hidden;
   height: 1500px;
 }
 /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
 /* Set floating dom-heading margins to 0 */
 [class*="dom-heading"] {
   margin: 0;
 }
 #absolute-wrapper {
   position: relative;
   width: 1200px;
   margin: 0 auto;
   height: 1px;
 }
 #absolute-wrapper .dom-link.dom-link-1 {
   height: 25px;
 }
 #absolute-wrapper .dom-link {
   position: absolute;
 }
 #absolute-wrapper .dom-link.dom-link-2 {
   width: 329px;
   top: 20px;
   left: 736px;
 }
 #absolute-wrapper .icon.icon-plus {
   font-size: 14px;
   height: 14px;
   width: 14px;
   position: absolute;
 }
 #absolute-wrapper .icon.icon-plus.icon-plus-1 {
   top: 23px;
   left: 721px;
 }
 #absolute-wrapper .image {
   width: 133px;
   height: 77px;
   position: absolute;
   top: 25px;
   left: 107px;
 }
 #absolute-wrapper .dom-heading {
   font-family: Arial;
   font-size: 28.18181800842285px;
   position: absolute;
 }
 #absolute-wrapper .dom-heading.dom-heading-1 {
   color: #f5350a;
   width: 300px;
   height: 43px;
   top: 48px;
   left: 244px;
 }
 #absolute-wrapper .icon.icon-comments {
   color: #5bec09;
   font-size: 21px;
   height: 21px;
   width: 31px;
   position: absolute;
   top: 78px;
   left: 926px;
 }
 #absolute-wrapper .paragraph.paragraph-1 {
   height: 24px;
 }
 #absolute-wrapper .paragraph {
   position: absolute;
 }
 #absolute-wrapper .paragraph.paragraph-2 {
   width: 300px;
   height: 22px;
 }
 #absolute-wrapper .paragraph.paragraph-3 {
   height: 25px;
 }
 #absolute-wrapper .paragraph.paragraph-4 {
   width: 80px;
 }
 #absolute-wrapper .paragraph.paragraph-5 {
   height: 42px;
 }
 #absolute-wrapper .paragraph.paragraph-6 {
   height: 26px;
 }
 #absolute-wrapper .paragraph.paragraph-7 {
   width: 19px;
 }
 #absolute-wrapper .paragraph.paragraph-8 {
   left: 591px;
 }
 #absolute-wrapper .paragraph.paragraph-9 {
   left: 258px;
 }
 #absolute-wrapper .paragraph.paragraph-10 {
   top: 625px;
 }
 #absolute-wrapper .paragraph.paragraph-11 {
   width: 96px;
 }
 #absolute-wrapper .paragraph.paragraph-12 {
   left: 139px;
 }
 #absolute-wrapper .paragraph.paragraph-13 {
   width: 14px;
 }
 #absolute-wrapper .paragraph.paragraph-14 {
   width: 39px;
   top: 78px;
   left: 957px;
 }
 #absolute-wrapper select.select-1 {
   height: 30px;
 }
 #absolute-wrapper select {
   position: absolute;
 }
 #absolute-wrapper select.select-2 {
   width: 132px;
 }
 #absolute-wrapper select.select-3 {
   top: 549px;
 }
 #absolute-wrapper select.select-4 {
   height: 31px;
 }
 #absolute-wrapper select.select-5 {
   height: 25px;
 }
 #absolute-wrapper select.select-6 {
   height: 28px;
 }
 #absolute-wrapper select.select-7 {
   width: 116px;
 }
 #absolute-wrapper select.select-8 {
   width: 78px;
   top: 71px;
   left: 990px;
 }
 #absolute-wrapper .dom-link.dom-link-1.dom-link-3 {
   width: 53px;
   top: 81px;
   left: 827px;
 }
 #absolute-wrapper .paragraph.paragraph-2.paragraph-15 {
   top: 81px;
   left: 246px;
 }
 #absolute-wrapper .navbar.navbar-inverse {
   width: 962px;
   height: 42px;
   position: absolute;
   top: 103px;
   left: 107px;
 }
 #absolute-wrapper .navbar.navbar-inverse .navbar-inner {
   background: #f66403;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
   border: 1px solid #f66403;
   height: 42px;
   padding-left: 20px;
   padding-right: 20px;
 }
 #absolute-wrapper .navbar.navbar-inverse .nav li a.a-1 {
   text-shadow: 0px 1px 2px #2b2a2a;
 }
 #absolute-wrapper .navbar.navbar-inverse .nav li a {
   color: #f3dbcf;
 }
 #absolute-wrapper .navbar.navbar-inverse .nav li a.a-2 {
   text-shadow: 0px 1px 2px #2b2a2a, 0px -1px 0px rgba(43, 42, 42, 0.239216);
 }
 #absolute-wrapper .paragraph.paragraph-1.paragraph-16 {
   width: 65px;
   top: 82px;
   left: 779px;
 }
 #absolute-wrapper .icon.icon-cog {
   color: #f3dbcf;
   text-shadow: 0px 1px 2px #000000;
   font-size: 27px;
   height: 28px;
   width: 27px;
   position: absolute;
   top: 112px;
   left: 1030px;
 }
 #absolute-wrapper .icon.icon-info-sign {
   font-size: 25px;
   color: #f3dbcf;
   text-shadow: 0px 1px 2px #000000;
   height: 25px;
   width: 28px;
   position: absolute;
   top: 113px;
   left: 998px;
 }
 #absolute-wrapper .icon.icon-envelope-alt {
   font-size: 21px;
   color: #f3dbcf;
   text-shadow: 0px 1px 2px #000000;
   height: 21px;
   width: 38px;
   position: absolute;
   top: 115px;
   left: 957px;
 }
 #absolute-wrapper .icon.icon-user {
   color: #f3dbcf;
   font-size: 26px;
   text-shadow: 0px 1px 2px #000000;
   height: 26px;
   width: 32px;
   position: absolute;
   top: 113px;
   left: 928px;
 }
 #absolute-wrapper .icon.icon-home {
   color: #f3dbcf;
   font-size: 14px;
   height: 14px;
   width: 14px;
   position: absolute;
   top: 118px;
   left: 111px;
 }
 #absolute-wrapper select.select-9 {
   text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.701961);
   width: 139px;
   height: 32px;
   top: 151px;
   left: 560px;
 }
 #absolute-wrapper .icon.icon-search {
   font-size: 27px;
   color: #050505;
   height: 28px;
   width: 27px;
   position: absolute;
   top: 151px;
   left: 1038px;
 }
 #absolute-wrapper .dom-heading.dom-heading-2 {
   width: 201px;
   height: 42px;
   top: 151px;
   left: 126px;
 }
 #absolute-wrapper textarea {
   position: absolute;
 }
 #absolute-wrapper textarea.textarea-1 {
   width: 314.18181824684143px;
   height: 22.18181824684143px;
   top: 152px;
   left: 707px;
 }
 #absolute-wrapper .well.well-1 {
   background: #f6f6f6;
 }
 #absolute-wrapper .well.well-2 {
   -moz-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.0470588);
   -webkit-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.0470588);
   -o-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.0470588);
   box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.0470588);
 }
 #absolute-wrapper .well {
   position: absolute;
 }
 #absolute-wrapper .well.well-3 {
   left: 237px;
 }
 #absolute-wrapper .well.well-4 {
   width: 27.18181824684143px;
 }
 #absolute-wrapper .well.well-5 {
   height: 20.18181824684143px;
 }
 #absolute-wrapper .well.well-6 {
   top: 462px;
 }
 #absolute-wrapper .well.well-7 {
   width: 666.1818182468414px;
 }
 #absolute-wrapper .well.well-8 {
   left: 239px;
 }
 #absolute-wrapper .well.well-9 {
   width: 660.1818182468414px;
   height: 169.18181824684143px;
   top: 240px;
 }
 #absolute-wrapper input.textinput {
   height: 18.18181824684143px;
   position: absolute;
 }
 #absolute-wrapper input.textinput.textinput-1 {
   width: 320.18181824684143px;
 }
 #absolute-wrapper input.textinput.textinput-2 {
   width: 37.18181824684143px;
 }
 #absolute-wrapper input.textinput.textinput-3 {
   width: 216.18181824684143px;
   top: 256px;
   left: 247px;
 }
 #absolute-wrapper .checkbox {
   color: #2d2d30;
   position: absolute;
 }
 #absolute-wrapper .checkbox.checkbox-1 {
   height: 20px;
 }
 #absolute-wrapper .checkbox.checkbox-2 {
   top: 628px;
 }
 #absolute-wrapper .checkbox.checkbox-3 {
   width: 280px;
 }
 #absolute-wrapper .checkbox.checkbox-4 {
   top: 663px;
 }
 #absolute-wrapper .checkbox.checkbox-5 {
   left: 258px;
 }
 #absolute-wrapper .checkbox.checkbox-6 {
   left: 255px;
 }
 #absolute-wrapper .checkbox.checkbox-7 {
   width: 70px;
   top: 259px;
   left: 501px;
 }
 #absolute-wrapper .paragraph.paragraph-3.paragraph-17 {
   width: 81px;
   top: 260px;
   left: 131px;
 }
 #absolute-wrapper .paragraph.paragraph-3.paragraph-17 p {
   color: #0741eb;
 }
 #absolute-wrapper .checkbox.checkbox-1.checkbox-8 {
   width: 71px;
   top: 260px;
   left: 601px;
 }
 #absolute-wrapper textarea.textarea-2 {
   width: 663.1818182468414px;
   height: 128.18181824684143px;
   top: 298px;
   left: 248px;
 }
 #absolute-wrapper .paragraph.paragraph-4.paragraph-5.paragraph-18 {
   top: 302px;
   left: 132px;
 }
 #absolute-wrapper .paragraph.paragraph-4.paragraph-5.paragraph-18 p {
   color: #0741eb;
 }
 #absolute-wrapper .well.well-4.well-5.well-10 {
   top: 460px;
   left: 560px;
 }
 #absolute-wrapper .well.well-4.well-5.well-11 {
   top: 461px;
   left: 484px;
 }
 #absolute-wrapper .well.well-4.well-5.well-6.well-12 {
   left: 330px;
 }
 #absolute-wrapper .well.well-4.well-5.well-6.well-13 {
   left: 407px;
 }
 #absolute-wrapper .icon.icon-camera {
   font-size: 45px;
   color: #9b9191;
   height: 45px;
   width: 52px;
   position: absolute;
 }
 #absolute-wrapper .icon.icon-camera.icon-camera-1 {
   top: 470px;
 }
 #absolute-wrapper .icon.icon-camera.icon-camera-2 {
   top: 468px;
   left: 567px;
 }
 #absolute-wrapper .icon.icon-camera.icon-camera-3 {
   top: 469px;
   left: 491px;
 }
 #absolute-wrapper .icon.icon-camera.icon-camera-1.icon-camera-4 {
   left: 337px;
 }
 #absolute-wrapper .icon.icon-camera.icon-camera-1.icon-camera-5 {
   left: 414px;
 }
 #absolute-wrapper .btn {
   height: 30px;
   position: absolute;
 }
 #absolute-wrapper .btn.btn-1 {
   width: 72px;
   top: 473px;
   left: 241px;
 }
 #absolute-wrapper .paragraph.paragraph-6.paragraph-19 {
   width: 204px;
   top: 478px;
   left: 658px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-20 {
   width: 88px;
   top: 480px;
   left: 115px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-20 p {
   color: #0741eb;
 }
 #absolute-wrapper .well.well-1.well-2.well-7.well-8 {
   height: 25.18181824684143px;
   top: 531px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-21 {
   width: 32px;
   top: 549px;
   left: 426px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-21 p {
   color: #2d2d30;
 }
 #absolute-wrapper .select-1.select-2.select-3 {
   left: 280px;
 }
 #absolute-wrapper .select-2.select-3.select-4 {
   left: 443px;
 }
 #absolute-wrapper .select-2.select-3.select-5 {
   left: 776px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-7.paragraph-8 {
   top: 550px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-7.paragraph-8 p {
   color: #2d2d30;
 }
 #absolute-wrapper .select-2.select-5.select-10 {
   top: 550px;
   left: 609px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-9 {
   width: 20px;
   top: 551px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-9 p {
   color: #2d2d30;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-7.paragraph-22 {
   top: 552px;
   left: 761px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-7.paragraph-22 p {
   color: #2d2d30;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-23 {
   width: 70px;
   top: 559px;
   left: 136px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-23 p {
   color: #0741eb;
 }
 #absolute-wrapper .well.well-1.well-2.well-8.well-14 {
   width: 665.1818182468414px;
   height: 43.18181824684143px;
   top: 612px;
 }
 #absolute-wrapper input.textinput.textinput-4 {
   width: 89.18181824684143px;
   top: 622px;
   left: 255px;
 }
 #absolute-wrapper .paragraph.paragraph-1.paragraph-24 {
   width: 26px;
   top: 623px;
   left: 954px;
 }
 #absolute-wrapper .paragraph.paragraph-1.paragraph-24 p {
   color: #8803f7;
   font-weight: bold;
 }
 #absolute-wrapper .paragraph.paragraph-6.paragraph-10 {
   width: 12px;
   left: 245px;
 }
 #absolute-wrapper .paragraph.paragraph-2.paragraph-10 {
   left: 388px;
 }
 #absolute-wrapper .paragraph.paragraph-2.paragraph-10 p {
   color: #2d2d30;
 }
 #absolute-wrapper .paragraph.paragraph-10.paragraph-11 {
   height: 27px;
   left: 109px;
 }
 #absolute-wrapper .paragraph.paragraph-10.paragraph-11 p {
   color: #0741eb;
 }
 #absolute-wrapper .dom-link.dom-link-4 {
   width: 81px;
   height: 21px;
   top: 626px;
   left: 672px;
 }
 #absolute-wrapper .checkbox.checkbox-1.checkbox-2.checkbox-9 {
   width: 26px;
   left: 819px;
 }
 #absolute-wrapper .checkbox.checkbox-1.checkbox-2.checkbox-10 {
   width: 34px;
   left: 764px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-8.paragraph-25 {
   width: 15px;
   top: 660px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-8.paragraph-25 p {
   color: #2d2d30;
 }
 #absolute-wrapper input.textinput.textinput-5 {
   width: 86.18181824684143px;
   top: 656px;
   left: 605px;
 }
 #absolute-wrapper .checkbox.checkbox-1.checkbox-3.checkbox-4.checkbox-11 {
   left: 427px;
 }
 #absolute-wrapper .paragraph.paragraph-6.paragraph-12 {
   width: 71px;
   top: 667px;
 }
 #absolute-wrapper .paragraph.paragraph-6.paragraph-12 p {
   color: #0741eb;
 }
 #absolute-wrapper .well.well-2.well-3.well-5 {
   width: 125.18181824684143px;
   top: 712px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-26 {
   width: 102px;
   top: 728px;
   left: 98px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-26 p {
   color: #0741eb;
 }
 #absolute-wrapper .select-6.select-11 {
   width: 122px;
   top: 729px;
   left: 257px;
 }
 #absolute-wrapper .well.well-1.well-2.well-7.well-15 {
   height: 259.18181824684143px;
   top: 792px;
   left: 238px;
 }
 #absolute-wrapper .select-4.select-12 {
   width: 200px;
   top: 807px;
   left: 253px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-12 {
   width: 61px;
   top: 807px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-12 p {
   color: #0741eb;
 }
 #absolute-wrapper .select-1.select-7 {
   top: 808px;
   left: 552px;
 }
 #absolute-wrapper .select-6.select-7 {
   top: 809px;
   left: 688px;
 }
 #absolute-wrapper .checkbox.checkbox-6.checkbox-12 {
   width: 348px;
   height: 47px;
   top: 850px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-27 {
   width: 138px;
   top: 814px;
   left: 486px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-28 {
   width: 62px;
   top: 851px;
   left: 135px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-28 p {
   color: #0741eb;
 }
 #absolute-wrapper .checkbox.checkbox-1.checkbox-3.checkbox-6.checkbox-13 {
   top: 897px;
 }
 #absolute-wrapper .checkbox.checkbox-1.checkbox-3.checkbox-6.checkbox-14 {
   top: 931px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-29 {
   width: 349px;
   top: 963px;
   left: 286px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-29 p {
   color: #2d2d30;
 }
 #absolute-wrapper input.textinput-1.textinput-6 {
   top: 990px;
   left: 332px;
 }
 #absolute-wrapper input.textinput-2.textinput-7 {
   top: 991px;
   left: 275px;
 }
 #absolute-wrapper .paragraph.paragraph-3.paragraph-9.paragraph-13 {
   top: 996px;
 }
 #absolute-wrapper .paragraph.paragraph-3.paragraph-9.paragraph-13 p {
   color: #2d2d30;
 }
 #absolute-wrapper input.textinput-1.textinput-8 {
   top: 1025px;
   left: 333px;
 }
 #absolute-wrapper input.textinput-2.textinput-9 {
   top: 1026px;
   left: 276px;
 }
 #absolute-wrapper .paragraph.paragraph-3.paragraph-13.paragraph-30 {
   top: 1029px;
   left: 259px;
 }
 #absolute-wrapper .paragraph.paragraph-3.paragraph-13.paragraph-30 p {
   color: #2d2d30;
 }
 #absolute-wrapper .dom-link.dom-link-1.dom-link-5 {
   width: 194px;
   top: 1061px;
   left: 283px;
 }
 #absolute-wrapper .icon.icon-plus.icon-plus-2 {
   top: 1064px;
   left: 263px;
 }
 #absolute-wrapper .well.well-1.well-2.well-8.well-16 {
   width: 449.18181824684143px;
   height: 83.18181824684143px;
   top: 1109px;
 }
 #absolute-wrapper .checkbox.checkbox-1.checkbox-15 {
   width: 50px;
   top: 1113px;
   left: 607px;
 }
 #absolute-wrapper .checkbox.checkbox-1.checkbox-16 {
   width: 45px;
   top: 1114px;
   left: 523px;
 }
 #absolute-wrapper .checkbox.checkbox-1.checkbox-17 {
   width: 79px;
   top: 1115px;
   left: 403px;
 }
 #absolute-wrapper .checkbox.checkbox-1.checkbox-5.checkbox-18 {
   width: 114px;
   top: 1116px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-31 {
   width: 125px;
   top: 1117px;
   left: 78px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-31 p {
   color: #0741eb;
 }
 #absolute-wrapper .paragraph.paragraph-4.paragraph-5.paragraph-32 {
   top: 1176px;
   left: 121px;
 }
 #absolute-wrapper .paragraph.paragraph-4.paragraph-5.paragraph-32 p {
   color: #0741eb;
 }
 #absolute-wrapper .checkbox.checkbox-1.checkbox-19 {
   width: 322px;
   top: 1180px;
   left: 259px;
 }
 #absolute-wrapper .dom-link.dom-link-1.dom-link-6 {
   width: 170px;
   top: 1202px;
   left: 407px;
 }
 #absolute-wrapper .well.well-1.well-2.well-8.well-17 {
   width: 669.1818182468414px;
   height: 53.18181824684143px;
   top: 1247px;
 }
 #absolute-wrapper input.textinput.textinput-10 {
   width: 142.18181824684143px;
   top: 1258px;
   left: 680px;
 }
 #absolute-wrapper .paragraph.paragraph-33 {
   width: 104px;
   height: 41px;
   top: 1260px;
   left: 95px;
 }
 #absolute-wrapper .paragraph.paragraph-33 p {
   color: #0741eb;
 }
 #absolute-wrapper input.textinput.textinput-11 {
   width: 156.18181824684143px;
   top: 1261px;
   left: 379px;
 }
 #absolute-wrapper .paragraph.paragraph-6.paragraph-34 {
   width: 127px;
   top: 1261px;
   left: 590px;
 }
 #absolute-wrapper .paragraph.paragraph-6.paragraph-34 p {
   color: #2d2d30;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-11 {
   top: 1266px;
   left: 274px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-11 p {
   color: #2d2d30;
 }
 #absolute-wrapper input.textinput.textinput-12 {
   width: 256.18181824684143px;
   top: 1299px;
   left: 377px;
 }
 #absolute-wrapper .paragraph.paragraph-1.paragraph-35 {
   width: 99px;
   top: 1302px;
   left: 275px;
 }
 #absolute-wrapper .paragraph.paragraph-1.paragraph-35 p {
   color: #2d2d30;
 }
 #absolute-wrapper .well.well-2.well-5.well-18 {
   width: 158.18181824684143px;
   top: 1355px;
   left: 240px;
 }
 #absolute-wrapper .btn.btn-2 {
   background: #ffffff;
   background-image: -moz-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%);
   background-image: -webkit-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%);
   background-image: -o-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%);
   background-image: linear-gradient(180deg, #ffffff 0%, #e6e6e6 100%);
   width: 101px;
   top: 1360px;
   left: 850px;
 }
 #absolute-wrapper .icon.icon-twitter-sign {
   font-size: 34px;
   height: 34px;
   width: 38px;
   position: absolute;
   top: 1367px;
   left: 377px;
 }
 #absolute-wrapper .icon.icon-google-plus-sign {
   font-size: 32px;
   height: 32px;
   width: 47px;
   position: absolute;
   top: 1369px;
   left: 288px;
 }
 #absolute-wrapper .icon.icon-linkedin-sign {
   font-size: 34px;
   height: 40px;
   width: 34px;
   position: absolute;
   top: 1368px;
   left: 334px;
 }
 #absolute-wrapper .icon.icon-facebook-sign {
   font-size: 31px;
   height: 31px;
   width: 51px;
   position: absolute;
   top: 1370px;
   left: 246px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-36 {
   width: 48px;
   top: 1374px;
   left: 157px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-36 p {
   color: #0741eb;
 }