 body {
   padding-left: 0;
   padding-right: 0;
 }
 #page-wrapper {
   position: relative;
   width: 1200px;
   /* centers the document */
   margin: 0 auto;
   /*
  hides anything drawn off canvas.
  remove overflow and height to see things drawn off canvas.
  */
   overflow: hidden;
   height: 1000px;
 }
 /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
 /* Set floating dom-heading margins to 0 */
 [class*="dom-heading"] {
   margin: 0;
 }
 #absolute-wrapper {
   position: relative;
   width: 1200px;
   margin: 0 auto;
   height: 1px;
 }
 #absolute-wrapper .dom-link {
   height: 25px;
   position: absolute;
 }
 #absolute-wrapper .dom-link.dom-link-1 {
   color: #f70934;
   width: 329px;
   top: 14px;
   left: 741px;
 }
 #absolute-wrapper .image {
   width: 133px;
   height: 77px;
   position: absolute;
   top: 22px;
   left: 113px;
 }
 #absolute-wrapper .dom-heading {
   font-family: Arial;
   font-size: 28.18181800842285px;
   position: absolute;
 }
 #absolute-wrapper .dom-heading.dom-heading-1 {
   color: #f5350a;
   width: 300px;
   height: 43px;
   top: 45px;
   left: 250px;
 }
 #absolute-wrapper .paragraph.paragraph-1 {
   height: 24px;
 }
 #absolute-wrapper .paragraph {
   position: absolute;
 }
 #absolute-wrapper .paragraph.paragraph-2 {
   width: 300px;
 }
 #absolute-wrapper .paragraph.paragraph-3 {
   height: 22px;
 }
 #absolute-wrapper .paragraph.paragraph-4 {
   height: 20px;
 }
 #absolute-wrapper .paragraph.paragraph-5 {
   height: 42px;
 }
 #absolute-wrapper .paragraph.paragraph-6 {
   width: 39px;
   top: 75px;
   left: 963px;
 }
 #absolute-wrapper select {
   position: absolute;
 }
 #absolute-wrapper select.select-1 {
   width: 99px;
   height: 29px;
   top: 665px;
 }
 #absolute-wrapper select.select-2 {
   width: 78px;
   height: 30px;
   top: 68px;
   left: 996px;
 }
 #absolute-wrapper .icon.icon-comments {
   color: #5bec09;
   font-size: 21px;
   height: 21px;
   width: 31px;
   position: absolute;
   top: 75px;
   left: 932px;
 }
 #absolute-wrapper .dom-link.dom-link-2 {
   width: 53px;
   top: 78px;
   left: 833px;
 }
 #absolute-wrapper .paragraph.paragraph-2.paragraph-3.paragraph-7 {
   top: 78px;
   left: 252px;
 }
 #absolute-wrapper .navbar.navbar-inverse {
   width: 962px;
   height: 42px;
   position: absolute;
   top: 100px;
   left: 113px;
 }
 #absolute-wrapper .navbar.navbar-inverse .navbar-inner {
   background: #f66403;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
   border: 1px solid #f66403;
   height: 42px;
   padding-left: 20px;
   padding-right: 20px;
 }
 #absolute-wrapper .navbar.navbar-inverse .nav li a.a-1 {
   text-shadow: 0px 1px 2px #2b2a2a;
 }
 #absolute-wrapper .navbar.navbar-inverse .nav li a {
   color: #f3dbcf;
 }
 #absolute-wrapper .navbar.navbar-inverse .nav li a.a-2 {
   text-shadow: 0px 1px 2px #2b2a2a, 0px -1px 0px rgba(43, 42, 42, 0.239216);
 }
 #absolute-wrapper .paragraph.paragraph-1.paragraph-8 {
   width: 65px;
   top: 79px;
   left: 785px;
 }
 #absolute-wrapper .icon.icon-cog {
   color: #f3dbcf;
   text-shadow: 0px 1px 2px #000000;
   font-size: 27px;
   height: 28px;
   width: 27px;
   position: absolute;
   top: 109px;
   left: 1036px;
 }
 #absolute-wrapper .icon.icon-user {
   color: #f3dbcf;
   font-size: 26px;
   text-shadow: 0px 1px 2px #000000;
   height: 26px;
   width: 32px;
   position: absolute;
   top: 110px;
   left: 934px;
 }
 #absolute-wrapper .icon.icon-info-sign {
   font-size: 25px;
   color: #f3dbcf;
   text-shadow: 0px 1px 2px #000000;
   height: 25px;
   width: 28px;
   position: absolute;
   top: 110px;
   left: 1004px;
 }
 #absolute-wrapper .icon.icon-envelope-alt {
   font-size: 21px;
   color: #f3dbcf;
   text-shadow: 0px 1px 2px #000000;
   height: 21px;
   width: 38px;
   position: absolute;
   top: 112px;
   left: 963px;
 }
 #absolute-wrapper .icon.icon-home {
   color: #f3dbcf;
   font-size: 14px;
   height: 14px;
   width: 14px;
   position: absolute;
   top: 115px;
   left: 117px;
 }
 #absolute-wrapper .icon.icon-search {
   font-size: 27px;
   color: #050505;
   height: 28px;
   width: 27px;
   position: absolute;
   top: 148px;
   left: 1044px;
 }
 #absolute-wrapper select.select-3 {
   text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.701961);
   width: 139px;
   height: 32px;
   top: 148px;
   left: 566px;
 }
 #absolute-wrapper textarea {
   width: 314.18181824684143px;
   height: 22.18181824684143px;
   position: absolute;
   top: 149px;
   left: 713px;
 }
 #absolute-wrapper .well {
   -moz-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.0470588);
   -webkit-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.0470588);
   -o-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.0470588);
   box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.0470588);
   width: 573.1818182468414px;
   height: 593.1818182468414px;
   position: absolute;
   top: 205px;
   left: 273px;
 }
 #absolute-wrapper .dom-heading.dom-heading-2 {
   width: 189px;
   height: 42px;
   top: 228px;
   left: 305px;
 }
 #absolute-wrapper input.textinput.textinput-1 {
   width: 206.18181824684143px;
 }
 #absolute-wrapper input.textinput {
   height: 18.18181824684143px;
   position: absolute;
 }
 #absolute-wrapper input.textinput.textinput-2 {
   left: 458px;
 }
 #absolute-wrapper input.textinput.textinput-3 {
   width: 203.18181824684143px;
 }
 #absolute-wrapper input.textinput.textinput-4 {
   top: 275px;
 }
 #absolute-wrapper .paragraph.paragraph-9 {
   width: 139px;
   height: 21px;
   top: 278px;
   left: 307px;
 }
 #absolute-wrapper .paragraph.paragraph-9 p {
   font-weight: bold;
 }
 #absolute-wrapper .icon.icon-asterisk {
   color: #e80a0a;
   position: absolute;
 }
 #absolute-wrapper .icon.icon-asterisk.icon-asterisk-1 {
   font-size: 6px;
 }
 #absolute-wrapper .icon.icon-asterisk.icon-asterisk-2 {
   left: 442px;
 }
 #absolute-wrapper .icon.icon-asterisk.icon-asterisk-3 {
   height: 6px;
   width: 7px;
 }
 #absolute-wrapper .icon.icon-asterisk.icon-asterisk-4 {
   height: 7px;
   width: 6px;
   top: 281px;
 }
 #absolute-wrapper input.textinput-1.textinput-2.textinput-5 {
   top: 317px;
 }
 #absolute-wrapper .paragraph.paragraph-4.paragraph-10 {
   width: 43px;
   top: 320px;
   left: 405px;
 }
 #absolute-wrapper .paragraph.paragraph-4.paragraph-10 p {
   font-weight: bold;
 }
 #absolute-wrapper .icon.icon-asterisk.icon-asterisk-2.icon-asterisk-5 {
   font-size: 5px;
   height: 9px;
   width: 5px;
   top: 321px;
 }
 #absolute-wrapper input.textinput-1.textinput-6 {
   top: 360px;
   left: 457px;
 }
 #absolute-wrapper .paragraph.paragraph-4.paragraph-11 {
   width: 71px;
   top: 365px;
   left: 373px;
 }
 #absolute-wrapper .paragraph.paragraph-4.paragraph-11 p {
   font-weight: bold;
 }
 #absolute-wrapper .icon.icon-asterisk.icon-asterisk-1.icon-asterisk-3.icon-asterisk-6 {
   top: 366px;
   left: 440px;
 }
 #absolute-wrapper .paragraph.paragraph-2.paragraph-5.paragraph-12 {
   top: 406px;
   left: 460px;
 }
 #absolute-wrapper .paragraph.paragraph-2.paragraph-5.paragraph-12 p {
   color: #a79f9f;
 }
 #absolute-wrapper input.textinput-3.textinput-7 {
   top: 450px;
   left: 459px;
 }
 #absolute-wrapper .paragraph.paragraph-4.paragraph-13 {
   width: 109px;
   top: 456px;
   left: 339px;
 }
 #absolute-wrapper .paragraph.paragraph-4.paragraph-13 p {
   font-weight: bold;
 }
 #absolute-wrapper input.textinput-3.textinput-8 {
   top: 490px;
   left: 460px;
 }
 #absolute-wrapper .paragraph.paragraph-4.paragraph-14 {
   width: 101px;
   top: 493px;
   left: 345px;
 }
 #absolute-wrapper .paragraph.paragraph-4.paragraph-14 p {
   font-weight: bold;
 }
 #absolute-wrapper .icon.icon-asterisk.icon-asterisk-1.icon-asterisk-3.icon-asterisk-7 {
   top: 498px;
   left: 443px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-15 {
   width: 339px;
   top: 520px;
   left: 463px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-15 p {
   color: #a79f9f;
 }
 #absolute-wrapper .paragraph.paragraph-4.paragraph-16 {
   width: 55px;
   top: 560px;
   left: 388px;
 }
 #absolute-wrapper .paragraph.paragraph-4.paragraph-16 p {
   font-weight: bold;
 }
 #absolute-wrapper input.textinput-3.textinput-9 {
   top: 562px;
   left: 461px;
 }
 #absolute-wrapper .icon.icon-asterisk.icon-asterisk-1.icon-asterisk-2.icon-asterisk-3 {
   top: 565px;
 }
 #absolute-wrapper input.textinput-3.textinput-10 {
   top: 596px;
   left: 462px;
 }
 #absolute-wrapper input.textinput-3.textinput-11 {
   top: 630px;
   left: 463px;
 }
 #absolute-wrapper .select-1.select-4 {
   left: 464px;
 }
 #absolute-wrapper .select-1.select-5 {
   left: 575px;
 }
 #absolute-wrapper .paragraph.paragraph-17 {
   width: 59px;
   height: 23px;
   top: 671px;
   left: 393px;
 }
 #absolute-wrapper .paragraph.paragraph-17 p {
   font-weight: bold;
 }
 #absolute-wrapper .icon.icon-asterisk.icon-asterisk-1.icon-asterisk-3.icon-asterisk-8 {
   top: 674px;
   left: 447px;
 }
 #absolute-wrapper .dom-link.dom-link-3 {
   color: #eb770e;
   width: 123px;
   top: 712px;
   left: 748px;
 }
 #absolute-wrapper .btn {
   -moz-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.0470588);
   -webkit-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.0470588);
   -o-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.0470588);
   box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.0470588);
   width: 132px;
   height: 30px;
   position: absolute;
   top: 752px;
   left: 466px;
 }
 #absolute-wrapper .paragraph.paragraph-2.paragraph-5.paragraph-18 {
   top: 712px;
   left: 467px;
 }
 #absolute-wrapper .paragraph.paragraph-2.paragraph-5.paragraph-18 p {
   color: #999494;
 }
 #absolute-wrapper .paragraph.paragraph-2.paragraph-3.paragraph-19 {
   top: 790px;
   left: 471px;
 }
 #absolute-wrapper .paragraph.paragraph-2.paragraph-3.paragraph-19 p {
   color: #999494;
 }
 #absolute-wrapper .dom-link.dom-link-4 {
   color: #b25906;
   width: 192px;
   top: 790px;
   left: 598px;
 }