 body {
   padding-left: 0;
   padding-right: 0;
 }
 #page-wrapper {
   position: relative;
   width: 1200px;
   /* centers the document */
   margin: 0 auto;
   /*
  hides anything drawn off canvas.
  remove overflow and height to see things drawn off canvas.
  */
   overflow: hidden;
   height: 1000px;
 }
 /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
 /* Set floating dom-heading margins to 0 */
 [class*="dom-heading"] {
   margin: 0;
 }
 #absolute-wrapper {
   position: relative;
   width: 1200px;
   margin: 0 auto;
   height: 1px;
 }
 #absolute-wrapper .dom-link {
   height: 25px;
   position: absolute;
 }
 #absolute-wrapper .dom-link.dom-link-1 {
   width: 329px;
   top: 23px;
   left: 706px;
 }
 #absolute-wrapper .icon.icon-plus {
   font-size: 14px;
   height: 14px;
   width: 14px;
   position: absolute;
   top: 26px;
   left: 689px;
 }
 #absolute-wrapper .image {
   position: absolute;
 }
 #absolute-wrapper .image.image-1 {
   width: 133px;
   height: 77px;
   top: 27px;
   left: 114px;
 }
 #absolute-wrapper .dom-heading {
   color: #f5350a;
   font-family: Arial;
   width: 300px;
   height: 43px;
   font-size: 28.18181800842285px;
   position: absolute;
   top: 50px;
   left: 251px;
 }
 #absolute-wrapper .paragraph.paragraph-1 {
   height: 24px;
 }
 #absolute-wrapper .paragraph {
   position: absolute;
 }
 #absolute-wrapper .paragraph.paragraph-2 {
   height: 30px;
 }
 #absolute-wrapper .paragraph.paragraph-3 {
   width: 50px;
 }
 #absolute-wrapper .paragraph.paragraph-4 {
   height: 17px;
 }
 #absolute-wrapper .paragraph.paragraph-5 {
   top: 280px;
 }
 #absolute-wrapper .paragraph.paragraph-6 {
   width: 75px;
 }
 #absolute-wrapper .paragraph.paragraph-7 {
   height: 21px;
 }
 #absolute-wrapper .paragraph.paragraph-8 {
   width: 108px;
 }
 #absolute-wrapper .paragraph.paragraph-9 {
   width: 207px;
 }
 #absolute-wrapper .paragraph.paragraph-10 {
   left: 150px;
 }
 #absolute-wrapper .paragraph.paragraph-11 {
   width: 198px;
 }
 #absolute-wrapper .paragraph.paragraph-12 {
   top: 395px;
 }
 #absolute-wrapper .paragraph.paragraph-13 {
   left: 151px;
 }
 #absolute-wrapper .paragraph.paragraph-14 {
   width: 39px;
   top: 80px;
   left: 964px;
 }
 #absolute-wrapper select {
   position: absolute;
 }
 #absolute-wrapper select.select-1 {
   width: 78px;
   height: 30px;
   top: 73px;
   left: 997px;
 }
 #absolute-wrapper .icon.icon-comments {
   color: #5bec09;
   font-size: 21px;
   height: 21px;
   width: 31px;
   position: absolute;
   top: 80px;
   left: 933px;
 }
 #absolute-wrapper .navbar.navbar-inverse {
   width: 962px;
   height: 42px;
   position: absolute;
   top: 105px;
   left: 114px;
 }
 #absolute-wrapper .navbar.navbar-inverse .navbar-inner {
   background: #f66403;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
   border: 1px solid #f66403;
   height: 42px;
   padding-left: 20px;
   padding-right: 20px;
 }
 #absolute-wrapper .navbar.navbar-inverse .nav li a.a-1 {
   text-shadow: 0px 1px 2px #2b2a2a;
 }
 #absolute-wrapper .navbar.navbar-inverse .nav li a {
   color: #f3dbcf;
 }
 #absolute-wrapper .navbar.navbar-inverse .nav li a.a-2 {
   text-shadow: 0px 1px 2px #2b2a2a, 0px -1px 0px rgba(43, 42, 42, 0.239216);
 }
 #absolute-wrapper .paragraph.paragraph-1.paragraph-15 {
   width: 65px;
   top: 84px;
   left: 786px;
 }
 #absolute-wrapper .dom-link.dom-link-2 {
   width: 53px;
   top: 83px;
   left: 834px;
 }
 #absolute-wrapper .paragraph.paragraph-16 {
   width: 300px;
   height: 22px;
   top: 83px;
   left: 253px;
 }
 #absolute-wrapper .icon.icon-cog {
   color: #f3dbcf;
   text-shadow: 0px 1px 2px #000000;
   font-size: 27px;
   height: 28px;
   width: 27px;
   position: absolute;
   top: 114px;
   left: 1037px;
 }
 #absolute-wrapper .icon.icon-info-sign {
   font-size: 25px;
   color: #f3dbcf;
   text-shadow: 0px 1px 2px #000000;
   height: 25px;
   width: 28px;
   position: absolute;
   top: 115px;
   left: 1005px;
 }
 #absolute-wrapper .icon.icon-envelope-alt {
   font-size: 21px;
   color: #f3dbcf;
   text-shadow: 0px 1px 2px #000000;
   height: 21px;
   width: 38px;
   position: absolute;
   top: 117px;
   left: 964px;
 }
 #absolute-wrapper .icon.icon-user {
   color: #f3dbcf;
   font-size: 26px;
   text-shadow: 0px 1px 2px #000000;
   height: 26px;
   width: 32px;
   position: absolute;
   top: 115px;
   left: 935px;
 }
 #absolute-wrapper .icon.icon-home {
   color: #f3dbcf;
   font-size: 14px;
   height: 14px;
   width: 14px;
   position: absolute;
   top: 120px;
   left: 118px;
 }
 #absolute-wrapper .icon.icon-search {
   font-size: 27px;
   color: #050505;
   height: 28px;
   width: 27px;
   position: absolute;
   top: 153px;
   left: 1045px;
 }
 #absolute-wrapper select.select-2 {
   text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.701961);
   width: 139px;
   height: 32px;
   top: 153px;
   left: 567px;
 }
 #absolute-wrapper textarea {
   width: 314.18181824684143px;
   height: 22.18181824684143px;
   position: absolute;
   top: 154px;
   left: 714px;
 }
 #absolute-wrapper .dom-link.dom-link-3 {
   width: 66px;
   top: 157px;
   left: 119px;
 }
 #absolute-wrapper .paragraph.paragraph-2.paragraph-17 {
   width: 12px;
   top: 159px;
   left: 187px;
 }
 #absolute-wrapper .paragraph.paragraph-2.paragraph-18 {
   width: 72px;
   top: 158px;
   left: 198px;
 }
 #absolute-wrapper .image.image-2 {
   width: 225px;
   height: 225px;
   top: 257px;
   left: 815px;
   background: transparent url(../images/download.jpg) top left no-repeat;
   background-size: 100% 100%;
 }
 #absolute-wrapper .image.image-2 .icon.icon-star {
   color: #f4e706;
   font-size: 9px;
   height: 11px;
   width: 9px;
   position: absolute;
 }
 #absolute-wrapper .image.image-2 .icon.icon-star.icon-star-1 {
   top: 165px;
   left: 201px;
 }
 #absolute-wrapper .image.image-2 .icon.icon-star.icon-star-2 {
   top: 155px;
   left: 207px;
 }
 #absolute-wrapper .image.image-2 .icon.icon-star.icon-star-3 {
   top: 175px;
   left: 194px;
 }
 #absolute-wrapper .image.image-2 .icon.icon-remove-circle {
   font-size: 14px;
   height: 14px;
   width: 14px;
   position: absolute;
   top: 179px;
   left: 26px;
 }
 #absolute-wrapper .image.image-2 .icon.icon-star.icon-star-4 {
   top: 184px;
   left: 186px;
 }
 #absolute-wrapper .icon.icon-thumbs-down {
   font-size: 20px;
   height: 23px;
   width: 20px;
   position: absolute;
 }
 #absolute-wrapper .icon.icon-thumbs-down.icon-thumbs-down-1 {
   top: 270px;
   left: 536px;
 }
 #absolute-wrapper .well {
   -moz-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.0470588);
   -webkit-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.0470588);
   -o-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.0470588);
   box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.0470588);
   position: absolute;
 }
 #absolute-wrapper .well.well-1 {
   width: 364.18181824684143px;
   height: 46.18181824684143px;
   top: 271px;
   left: 122px;
 }
 #absolute-wrapper .icon.icon-pushpin {
   font-size: 14px;
   height: 14px;
   width: 14px;
   position: absolute;
 }
 #absolute-wrapper .icon.icon-pushpin.icon-pushpin-1 {
   top: 271px;
   left: 128px;
 }
 #absolute-wrapper .icon.icon-thumbs-up {
   font-size: 20px;
   height: 20px;
   width: 25px;
   position: absolute;
 }
 #absolute-wrapper .icon.icon-thumbs-up.icon-thumbs-up-1 {
   top: 272px;
   left: 563px;
 }
 #absolute-wrapper .paragraph.paragraph-3.paragraph-4.paragraph-5 {
   left: 262px;
 }
 #absolute-wrapper .paragraph.paragraph-3.paragraph-4.paragraph-5 p {
   color: #263eaa;
   font-weight: bold;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-6.paragraph-7 {
   left: 439px;
 }
 #absolute-wrapper .paragraph.paragraph-4.paragraph-8.paragraph-19 {
   top: 281px;
   left: 149px;
 }
 #absolute-wrapper .paragraph.paragraph-4.paragraph-8.paragraph-19 p {
   color: #263eaa;
 }
 #absolute-wrapper .paragraph.paragraph-4.paragraph-8.paragraph-19 p.p-1 {
   font-weight: bold;
 }
 #absolute-wrapper .btn {
   color: #f3670a;
   -moz-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.0470588);
   -webkit-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.0470588);
   -o-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.0470588);
   box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.0470588);
   height: 30px;
   position: absolute;
 }
 #absolute-wrapper .btn.btn-1 {
   left: 533px;
 }
 #absolute-wrapper .btn.btn-2 {
   width: 134px;
 }
 #absolute-wrapper .btn.btn-3 {
   width: 72px;
   top: 295px;
 }
 #absolute-wrapper .paragraph.paragraph-7.paragraph-9.paragraph-10 {
   top: 302px;
 }
 #absolute-wrapper .paragraph.paragraph-7.paragraph-10.paragraph-11 {
   top: 327px;
 }
 #absolute-wrapper .paragraph.paragraph-7.paragraph-10.paragraph-11 p {
   color: #f3670a;
   font-weight: bold;
 }
 #absolute-wrapper .btn-1.btn-2 {
   top: 329px;
 }
 #absolute-wrapper .well.well-2 {
   width: 365.18181824684143px;
   height: 101.18181824684143px;
   top: 383px;
   left: 120px;
 }
 #absolute-wrapper .icon.icon-pushpin.icon-pushpin-2 {
   top: 386px;
   left: 126px;
 }
 #absolute-wrapper .paragraph.paragraph-3.paragraph-4.paragraph-20 {
   top: 394px;
   left: 263px;
 }
 #absolute-wrapper .paragraph.paragraph-3.paragraph-4.paragraph-20 p {
   color: #263eaa;
   font-weight: bold;
 }
 #absolute-wrapper .paragraph.paragraph-4.paragraph-8.paragraph-10.paragraph-12 p {
   color: #263eaa;
 }
 #absolute-wrapper .paragraph.paragraph-4.paragraph-8.paragraph-10.paragraph-12 p.p-2 {
   font-weight: bold;
 }
 #absolute-wrapper .paragraph.paragraph-6.paragraph-7.paragraph-12 {
   left: 442px;
 }
 #absolute-wrapper .paragraph.paragraph-7.paragraph-9.paragraph-13 {
   top: 416px;
 }
 #absolute-wrapper .paragraph.paragraph-7.paragraph-11.paragraph-13 {
   top: 441px;
 }
 #absolute-wrapper .paragraph.paragraph-7.paragraph-11.paragraph-13 p {
   color: #f3670a;
   font-weight: bold;
 }
 #absolute-wrapper .icon.icon-thumbs-down.icon-thumbs-down-2 {
   top: 462px;
   left: 534px;
 }
 #absolute-wrapper .icon.icon-thumbs-up.icon-thumbs-up-2 {
   top: 464px;
   left: 561px;
 }
 #absolute-wrapper .paragraph.paragraph-7.paragraph-21 {
   width: 335px;
   top: 473px;
   left: 148px;
 }
 #absolute-wrapper .paragraph.paragraph-7.paragraph-21 p {
   color: #72acf7;
 }
 #absolute-wrapper .paragraph.paragraph-22 {
   width: 145px;
   height: 42px;
   top: 492px;
   left: 864px;
 }
 #absolute-wrapper .btn-2.btn-4 {
   top: 492px;
   left: 531px;
 }