 body {
   padding-left: 0;
   padding-right: 0;
 }
 #page-wrapper {
   position: relative;
   width: 1200px;
   /* centers the document */
   margin: 0 auto;
   /*
  hides anything drawn off canvas.
  remove overflow and height to see things drawn off canvas.
  */
   overflow: hidden;
   height: 1000px;
 }
 /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
 /* Set floating dom-heading margins to 0 */
 [class*="dom-heading"] {
   margin: 0;
 }
 #absolute-wrapper {
   position: relative;
   width: 1200px;
   margin: 0 auto;
   height: 1px;
 }
 #absolute-wrapper .dom-link {
   height: 25px;
   position: absolute;
 }
 #absolute-wrapper .dom-link.dom-link-1 {
   width: 329px;
   top: 23px;
   left: 706px;
 }
 #absolute-wrapper .icon.icon-plus {
   font-size: 14px;
   height: 14px;
   width: 14px;
   position: absolute;
   top: 26px;
   left: 689px;
 }
 #absolute-wrapper .image {
   position: absolute;
 }
 #absolute-wrapper .image.image-1 {
   width: 133px;
   height: 77px;
   top: 27px;
   left: 114px;
 }
 #absolute-wrapper .dom-heading {
   color: #f5350a;
   font-family: Arial;
   width: 300px;
   height: 43px;
   font-size: 28.18181800842285px;
   position: absolute;
   top: 50px;
   left: 251px;
 }
 #absolute-wrapper .paragraph.paragraph-1 {
   height: 24px;
 }
 #absolute-wrapper .paragraph {
   position: absolute;
 }
 #absolute-wrapper .paragraph.paragraph-2 {
   height: 25px;
 }
 #absolute-wrapper .paragraph.paragraph-3 {
   top: 264px;
 }
 #absolute-wrapper .paragraph.paragraph-4 {
   left: 143px;
 }
 #absolute-wrapper .paragraph.paragraph-5 {
   height: 23px;
 }
 #absolute-wrapper .paragraph.paragraph-6 {
   width: 189px;
 }
 #absolute-wrapper .paragraph.paragraph-7 {
   width: 39px;
   top: 80px;
   left: 964px;
 }
 #absolute-wrapper select {
   position: absolute;
 }
 #absolute-wrapper select.select-1 {
   width: 78px;
   height: 30px;
   top: 73px;
   left: 997px;
 }
 #absolute-wrapper .icon.icon-comments {
   color: #5bec09;
   font-size: 21px;
   height: 21px;
   width: 31px;
   position: absolute;
   top: 80px;
   left: 933px;
 }
 #absolute-wrapper .paragraph.paragraph-8 {
   width: 300px;
   height: 22px;
   top: 83px;
   left: 253px;
 }
 #absolute-wrapper .navbar.navbar-inverse {
   width: 962px;
   height: 42px;
   position: absolute;
   top: 105px;
   left: 114px;
 }
 #absolute-wrapper .navbar.navbar-inverse .navbar-inner {
   background: #f66403;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
   border: 1px solid #f66403;
   height: 42px;
   padding-left: 20px;
   padding-right: 20px;
 }
 #absolute-wrapper .navbar.navbar-inverse .nav li a.a-1 {
   text-shadow: 0px 1px 2px #2b2a2a;
 }
 #absolute-wrapper .navbar.navbar-inverse .nav li a {
   color: #f3dbcf;
 }
 #absolute-wrapper .navbar.navbar-inverse .nav li a.a-2 {
   text-shadow: 0px 1px 2px #2b2a2a, 0px -1px 0px rgba(43, 42, 42, 0.239216);
 }
 #absolute-wrapper .paragraph.paragraph-1.paragraph-9 {
   width: 65px;
   top: 84px;
   left: 786px;
 }
 #absolute-wrapper .dom-link.dom-link-2 {
   width: 53px;
   top: 83px;
   left: 834px;
 }
 #absolute-wrapper .icon.icon-cog {
   color: #f3dbcf;
   text-shadow: 0px 1px 2px #000000;
   font-size: 27px;
   height: 28px;
   width: 27px;
   position: absolute;
   top: 114px;
   left: 1037px;
 }
 #absolute-wrapper .icon.icon-user {
   color: #f3dbcf;
   font-size: 26px;
   text-shadow: 0px 1px 2px #000000;
   height: 26px;
   width: 32px;
   position: absolute;
   top: 115px;
   left: 935px;
 }
 #absolute-wrapper .icon.icon-info-sign {
   font-size: 25px;
   color: #f3dbcf;
   text-shadow: 0px 1px 2px #000000;
   height: 25px;
   width: 28px;
   position: absolute;
   top: 115px;
   left: 1005px;
 }
 #absolute-wrapper .icon.icon-envelope-alt {
   font-size: 21px;
   color: #f3dbcf;
   text-shadow: 0px 1px 2px #000000;
   height: 21px;
   width: 38px;
   position: absolute;
   top: 117px;
   left: 964px;
 }
 #absolute-wrapper .icon.icon-home {
   color: #f3dbcf;
   font-size: 14px;
   height: 14px;
   width: 14px;
   position: absolute;
   top: 120px;
   left: 118px;
 }
 #absolute-wrapper .icon.icon-search {
   font-size: 27px;
   color: #050505;
   height: 28px;
   width: 27px;
   position: absolute;
   top: 153px;
   left: 1045px;
 }
 #absolute-wrapper select.select-2 {
   text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.701961);
   width: 139px;
   height: 32px;
   top: 153px;
   left: 567px;
 }
 #absolute-wrapper textarea {
   width: 314.18181824684143px;
   height: 22.18181824684143px;
   position: absolute;
   top: 154px;
   left: 714px;
 }
 #absolute-wrapper .dom-link.dom-link-3 {
   width: 35px;
   top: 159px;
   left: 120px;
 }
 #absolute-wrapper .paragraph.paragraph-2.paragraph-10 {
   width: 118px;
   top: 159px;
   left: 155px;
 }
 #absolute-wrapper .paragraph.paragraph-2.paragraph-3.paragraph-4 {
   width: 501px;
 }
 #absolute-wrapper .paragraph.paragraph-2.paragraph-3.paragraph-4 p {
   color: #263eaa;
   font-weight: bold;
 }
 #absolute-wrapper .paragraph.paragraph-2.paragraph-3.paragraph-11 {
   width: 116px;
   left: 608px;
 }
 #absolute-wrapper .paragraph.paragraph-2.paragraph-3.paragraph-11 p {
   font-weight: bold;
 }
 #absolute-wrapper .well {
   -moz-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.0470588);
   -webkit-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.0470588);
   -o-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.0470588);
   box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.0470588);
   position: absolute;
 }
 #absolute-wrapper .well.well-1 {
   width: 169.18181824684143px;
   left: 753px;
 }
 #absolute-wrapper .well.well-2 {
   width: 574.1818182468414px;
   height: 587.1818182468414px;
   top: 293px;
   left: 115px;
 }
 #absolute-wrapper .image.image-2 {
   width: 53px;
   height: 52px;
   top: 309px;
   left: 874px;
 }
 #absolute-wrapper .paragraph.paragraph-1.paragraph-12 {
   width: 70px;
   top: 290px;
   left: 807px;
 }
 #absolute-wrapper .paragraph.paragraph-1.paragraph-12 p {
   color: #f3670a;
   font-weight: bold;
 }
 #absolute-wrapper .paragraph.paragraph-4.paragraph-13 {
   width: 568px;
   height: 42px;
   top: 313px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-14 {
   width: 59px;
   top: 314px;
   left: 784px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-15 {
   width: 95px;
   top: 315px;
   left: 849px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-16 {
   width: 77px;
   top: 337px;
   left: 809px;
 }
 #absolute-wrapper .well.well-1.well-3 {
   height: 88.18181824684143px;
   top: 362px;
 }
 #absolute-wrapper .btn.btn-1 {
   height: 31px;
 }
 #absolute-wrapper .btn {
   position: absolute;
 }
 #absolute-wrapper .btn.btn-2 {
   top: 444px;
 }
 #absolute-wrapper .btn.btn-3 {
   width: 91px;
   top: 373px;
   left: 809px;
 }
 #absolute-wrapper .btn-1.btn-4 {
   width: 123px;
   top: 409px;
   left: 793px;
 }
 #absolute-wrapper .paragraph.paragraph-17 {
   width: 569px;
   height: 572px;
   top: 427px;
   left: 139px;
 }
 #absolute-wrapper .btn-1.btn-2 {
   width: 82px;
   left: 859px;
 }
 #absolute-wrapper .btn-2.btn-5 {
   color: #1e75f7;
   width: 84px;
   height: 32px;
   left: 771px;
 }
 #absolute-wrapper .btn-2.btn-5 .icon.icon-thumbs-up {
   font-size: 20px;
   height: 20px;
   width: 23px;
 }
 #absolute-wrapper .well.well-1.well-4 {
   height: 98.18181824684143px;
   top: 506px;
 }
 #absolute-wrapper .paragraph.paragraph-1.paragraph-18 {
   width: 138px;
   top: 524px;
   left: 781px;
 }
 #absolute-wrapper .paragraph.paragraph-1.paragraph-18 p {
   color: #f3670a;
 }
 #absolute-wrapper .paragraph.paragraph-1.paragraph-18 p span {
   background-color: transparent;
 }
 #absolute-wrapper .paragraph.paragraph-1.paragraph-18 p strong {
   color: #f3670a;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-6.paragraph-19 {
   top: 551px;
   left: 764px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-20 {
   width: 173px;
   top: 575px;
   left: 766px;
 }
 #absolute-wrapper .paragraph.paragraph-5.paragraph-6.paragraph-21 {
   top: 601px;
   left: 767px;
 }